body{
  /*background-image: url("..img/burger.jpg");*/
  background-repeat: no-repeat;
  background-position: center;
  opacity: 75%;
  background-color: deeppink;
}

li {
  background: #FAEBD7;
  margin: 5px;
  padding: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  background: aqua;
  margin: 5px;
  padding: 5px;
}

.form-group {
  margin-bottom: 5px;
}